<?php

namespace Test\Unit\Zf1Compat\Math;

use PHPUnit\Framework\TestCase;
use Zf1Compat\View\Helper\FormCheckbox;

final class BigintTest extends TestCase
{
    public function testInvoke_WithNameOnly_ReturnsBaseCheckbox()
    {
        self::assertEquals(
            '<input type="hidden" name="name" value="0"><input type="checkbox" name="name" value="1">',
            $this->helper->__invoke('name')
        );
    }
}
